demos/WCFServices/TestWCFServices/TestServiceClient/Connected Services/StockServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TestServiceHost" />
  <xs:element name="GetStockPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticker" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestServiceHost" minOccurs="0" name="GetStockPriceResult" nillable="true" type="q1:Info" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>